* {
	border: 1px solid rgba(0,0,0,.5);
	font-family: Georgia, serif;
}

h1 {
	text-align: center;
}

body {
	background-color: rgba(200, 10, 10, .5);
}

img {
	display: block;
	margin: 0 auto;
}

#Blue {
	color: blue;
	font-size: 20px;
	font-weight: 300;
	font-stretch: .5em;
}

#Border {
	border: groove;
	border-style: solid dotted;
	border-color: blue;
	border-radius: 25px;
	border-width: .05em;
}

#Margin {
	margin-top: 100px;
	width: 300px;
	margin: auto;
}

#HorizontalList ul {
	text-align: center;
}

#HorizontalList li {
	display: inline-block;
}

table {
	text-align: center;
	margin: auto;
}

#Parent {
	text-align: center;
}
.child1 {
	display: inline-block;
	width: 400px;
	margin-right: 100px;
	padding-right: 100px;
}

.child2 {
	display: inline-block;
}