// Main style guide for project 0.3
// Code by Everett Sussman

$devborder: 1px dotted black;

* {
	border: $devborder;
}

html {
	font-size: 16px;
}

@import "layout/header";
@import "layout/footer";

@import "pages/index";
@import "pages/aboutme";

@import "components/buttons";


